<div *ngIf="form; else loading">
  <form [formGroup]="form" enctype="multipart/form-data" (ngSubmit)="submit()" class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-6 center-block2 p-5">
    <h2 class="text-center mb-4">Edit product</h2>

    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <select id="type" formControlName="type" [value]="form.get('type')?.value" class="form-select">
        <option value="phone">Phone</option>
        <option value="tablet">Tablet</option>
        <option value="laptop">Laptop</option>
      </select>
      <div *ngIf="form?.get('type')?.touched && form?.get('type')?.invalid" class="form-text text-danger">
        <small *ngIf="form?.get('type')?.errors?.['required']">Choose product type</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="title" class="form-label">Name</label>
      <input type="text" id="title" formControlName="title" [value]="form.get('title')?.value" class="form-control">
      <div *ngIf="form?.get('title')?.touched && form?.get('title')?.invalid" class="form-text text-danger">
        <small *ngIf="form?.get('title')?.errors?.['required']">Enter product name</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="photo" class="form-label">Photo</label>
      <input type="file" id="photo" formControlName="photo" class="form-control" accept=".png, .jpg, .jpeg"
             (change)="onFileSelected($event)">
      <!--<quill-editor formControlName="photo" id="photo"></quill-editor>-->

      <div class="flex-center text-center mb-5 mt-4 card-img">
        <img [src]="productService.formatImage(product)" class="card-img-top img">
      </div>
    </div>

    <div class="mb-3">
      <label for="info" class="form-label">Information</label>
      <quill-editor formControlName="info" id="info"></quill-editor>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" id="price" formControlName="price" class="form-control">
      <div *ngIf="form?.get('price')?.touched && form?.get('price')?.invalid" class="form-text text-danger">
        <small *ngIf="form?.get('price')?.errors?.['required']">Enter product price</small>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-light w-25 me-3" > Cancel </button>
      <button type="submit" class="btn btn-primary w-25" [disabled]="form?.invalid || submitted"> Update </button>
    </div>

  </form>
</div>

<ng-template #loading>
  <h3 class="text-center">Loading</h3>
</ng-template>
